@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica,
    sans-serif;
  text-align: center;
  margin: 0;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111;
  position: relative;
  transition: 0.4s;
}

.card img {
  height: 150px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.card-hp {
  display: inline;
}

.card-hp-label {
  font-size: 75%;
}

.card-caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card-image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.card-info {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbb;
}

.card-num {
  left: 1em;
}

.card-type {
  right: 1em;
}

.card-label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card-name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card-stats {
  margin: 1em 0;
  width: 100%;
  text-transform: capitalize;
}

.card-stats p {
  margin: 8px;
  padding: 0;
  line-height: 1.25;
}

.card-stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card-stats th,
.card-stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card-abilities {
  display: flex;
  justify-content: space-between;
}
.card-ability {
  margin-top: 1em;
  flex: 1 0;
}
.card-bug {
  background: linear-gradient(to top, #11998e, #38ef7d);
}
.card-bug .card-info {
  background-color: #729f3f;
}
.card-dark {
  background: linear-gradient(
    20deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(16, 11, 50, 1) 33%,
    rgba(92, 2, 73, 1) 100%
  );
}
.card-dark .card-info {
  background: #5c0249;
}
.card-dragon {
  background: linear-gradient(to top, #f16e57, #53a4cf);
}
.card-dragon .card-info {
  background: #53a4cf;
}
.card-electric {
  background: linear-gradient(
    45deg,
    #eed535,
    #e8ff99
  );
}
.card-electric .card-info {
  background-color: #eed535;
}
.card-fairy {
  background: linear-gradient(180deg, #fbd3e9, #bb377d);
}
.card-fairy .card-info {
  background: #fdb9e9;
}
.card-fighting {
  background: linear-gradient(120deg, #fbd786, #f7797d);
}
.card-fighting .card-info {
  background: #d56723;
}
.card-fire {
  background: linear-gradient(to top, #f12711, #f5af19);
}
.card-fire .card-info {
  background-color: #fd7d24;
}
.card-ghost {
  background: linear-gradient(to top, #6a3093, #a044ff);
}
.card-ghost .card-info {
  background-color: #7b62a3;
}
.card-grass {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}
.card-grass .card-info {
  background: #9bcc50;
}
.card-ground {
  background: linear-gradient(to bottom, #f7de3f 0%, #ab9842 100%);
}
.card-ground .card-info {
  background: #ab9842;
}
.card-ice {
  background: linear-gradient(
    230deg,
    rgba(202, 234, 246, 1) 0%,
    rgba(160, 234, 241, 1) 46%,
    rgba(111, 184, 235, 1) 100%
  );
}
.card-ice .card-info {
  background: #51c4e7;
}
.card-normal {
  background: linear-gradient(110deg, #fdbb2d 0%, #f2994a 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
}
.card-normal .card-info {
  background-color: #c08a53;
}
.card-poison {
  background: linear-gradient(to bottom, #f953c6, #b91d73);
}

.card-poison .card-info {
  background: #b97fc9;
}

.card-psychic {
  background: linear-gradient(
    140deg,
    rgba(255, 167, 249, 1) 0%,
    rgba(255, 44, 195, 1) 39%,
    rgba(255, 227, 167, 1) 100%
  );
}
.card-psychic .card-info {
  background: #f366b9;
}
.card-rock {
  background: linear-gradient(to top, #3c3b3f, #a38c21);
}
.card-rock .card-info {
  background: #a38c21;
}
.card-water {
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
}
.card-water .card-info {
  background-color: #4592c4;
}
/* .card:nth-child(1n) {
  transform: translateY(0px) rotate(4deg);
}
.card:nth-child(2n) {
  transform: translateY(0px) rotate(-2deg);
}
.card:nth-child(3n) {
  transform: translateY(0px) rotate(-2deg);
}
.card:nth-child(4n) {
  transform: translateY(0px) rotate(1deg);
}
.card:nth-child(5n) {
  transform: translateY(0px) rotate(-2deg);
}
.card:nth-child(6n) {
  transform: translateY(0px) rotate(-4deg);
}
.card:nth-child(7n) {
  transform: translateY(0px) rotate(-5deg);
}
.card:nth-child(8n) {
  transform: translateY(0px) rotate(-5deg);
}
.card:nth-child(9n) {
  transform: translateY(0px) rotate(2deg);
} */
.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000;
  transform: translateY(-5px);
}
