@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
:root {}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, sans-serif;
  background-color: #fff;
}

a {
  outline: 0;
}

header {
  position: sticky;
  text-align: center;
}

header img {
  width: 250px;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

header a {
  color: inherit;
  text-decoration: none;
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  border: none;
}

button:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

/* nav button {
	text-transform: uppercase;
	padding: .75em;
	margin: 2px 4px;
	line-height: 1;
	border-radius: 2px;
	background: #3b4cca;
	color: #f4f4f4;
	border: 0px;
	filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.33));
} */

footer {
  text-align: center;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 4px;
  background: #ddd;
  box-shadow: 0px 5px 20px -10px #111;
  position: relative;
  transition: all 0.3s ease-in-out;
  animation: fadein 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  .card:hover {
    z-index: 999;
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-5px);
  }
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 0.1em 0.5em;
}

.card-title h3 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  line-height: 1;
}

.card-name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.card-hp {
  display: inline;
}

.card-hp-label {
  font-size: .9rem;
}

.card-label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3px;
}

.card-image-container {
  height: 250px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 0;
  border-radius: 3px 3px 0 0;
}

.card img {
  /* 
	position: absolute; 
	bottom: 150px;
	right: 10px;*/
  position: relative;
  height: 275px;
  bottom: 20px;
  margin: 0;
	filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.666));
	z-index: 1;
}

.card-info {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbb;
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.33));
}

.card-num {
  z-index: 2;
  left: 1em;
}

.card-type {
  z-index: 2;
  right: 1em;
}

.card-caption {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 1em;
  position: relative;
}

.card-stats {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.card-stats p {
	font-family: "Open Sans Condensed";
	font-size: 1.25rem;
	letter-spacing: -0.01em;
	margin: 2px;
  padding: 0;
  line-height: 1.25;
}

.card-stats span {
  font-family: "Open Sans";
}

.card-stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}

.card-stats th,
.card-stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}

.card-abilities {
  display: flex;
  justify-content: space-between;
}

.card-ability {
  margin-top: 1em;
  flex: 1 0;
}

.card-bug {
  background: linear-gradient(145deg, #729f3f, #38ef7d);
}

.card-bug .card-info {
  background-color: #729f3f;
}

.card-dark {
  background: linear-gradient(20deg, rgba(25, 25, 25, 1) 0%, rgba(16, 11, 50, 1) 33%, rgba(92, 2, 73, 1) 100%);
}

.card-dark .card-info {
  background: #5c0249;
}

.card-dragon {
  background: linear-gradient(to top, #f16e57, #53a4cf);
}

.card-dragon .card-info {
  background: #53a4cf;
}

.card-electric {
  background: linear-gradient(45deg, #eed535, #e8ff99);
}

.card-electric .card-info {
  background-color: #eed535;
}

.card-fairy {
  background: linear-gradient(180deg, #fbd3e9, #bb377d);
}

.card-fairy .card-info {
  background: #fdb9e9;
}

.card-fighting {
  background: linear-gradient(120deg, #fbd786, #f7797d);
}

.card-fighting .card-info {
  background: #d56723;
}

.card-fire {
  background: linear-gradient(to top, #f12711, #f5af19);
}

.card-fire .card-info {
  background-color: #fd7d24;
}

.card-ghost {
  background: linear-gradient(to top, #6a3093, #a044ff);
}

.card-ghost .card-info {
  background-color: #7b62a3;
}

.card-grass {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}

.card-grass .card-info {
  background: #9bcc50;
}

.card-ground {
  background: linear-gradient(to bottom, #f7de3f 0%, #ab9842 100%);
}

.card-ground .card-info {
  background: #ab9842;
}

.card-ice {
  background: linear-gradient(230deg, rgba(202, 234, 246, 1) 0%, rgba(160, 234, 241, 1) 46%, rgba(111, 184, 235, 1) 100%);
}

.card-ice .card-info {
  background: #51c4e7;
}

.card-normal {
  background: linear-gradient(110deg, #fdbb2d 0%, #f2994a 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
}

.card-normal .card-info {
  background-color: #c08a53;
}

.card-poison {
  background: linear-gradient(to bottom, #f953c6, #b91d73);
}

.card-poison .card-info {
  background: #b97fc9;
}

.card-psychic {
  background: linear-gradient(140deg, rgba(255, 167, 249, 1) 0%, rgba(255, 44, 195, 1) 39%, rgba(255, 227, 167, 1) 100%);
}

.card-psychic .card-info {
  background: #f366b9;
}

.card-rock {
  background: linear-gradient(to top, #3c3b3f, #a38c21);
}

.card-rock .card-info {
  background: #a38c21;
}

.card-steel {
  background: linear-gradient(to top, #c3cbdc 0%, #edf1f4 100%);
}

.card-steel .card-info {
  background: #9eb7b8;
}

.card-water {
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
}

.card-water .card-info {
  background-color: #4592c4;
}
