.card-bug {
  background: linear-gradient(to top, #729f3f, #dce35b);
  .card-info {
    background-color: #729f3f;
  }
}

.card-dark {
  background: linear-gradient(to top, #03001e 33%, #5c0249, #ec38bc);
  .card-info {
    background: #5c0249;
  }
}

.card-dragon {
  background: linear-gradient(to top, #f16e57, #53a4cf);
  .card-info {
    background: #53a4cf;
  }
}

.card-electric {
  background: linear-gradient(to top, #f3f9a7, #eed535);
  .card-info {
    background-color: #eed535;
  }
}

.card-fairy {
  background: linear-gradient(180deg, #fdb9e9, #bb377d);
  .card-info {
    background: #fdb9e9;
  }
}

.card-fighting {
  background: linear-gradient(120deg, #fbd786, #d56723);
  .card-info {
    background: #d56723;
  }
}

.card-fire {
  background: linear-gradient(to top, #f12711, #fd7d24 66%);
  .card-info {
    background-color: #fd7d24;
  }
}

.card-ghost {
  background: linear-gradient(to top, #6a3093, #7b62a3);
  .card-info {
    background-color: #7b62a3;
  }
}

.card-grass {
  background: linear-gradient(45deg, #56ab2f, #9bcc50);
  .card-info {
    background: #9bcc50;
  }
}

.card-ground {
  background: linear-gradient(to top, #605c3c, #ab9842);
  .card-info {
    background: #ab9842;
  }
}

.card-ice {
  background: linear-gradient(to bottom, #caeaf6, #a0eaf1, #51c4e7);
  .card-info {
    background: #51c4e7;
  }
}

.card-normal {
  background: linear-gradient(to right, #ffd194, #c08a53);
  .card-info {
    background-color: #c08a53;
  }
}

.card-poison {
  background: linear-gradient(to bottom, #b97fc9, #fc67fa);
  .card-info {
    background: #b97fc9;
  }
}

.card-psychic {
  background: linear-gradient(to right, #f366b9, #b91d73);
  .card-info {
    background: #f366b9;
  }
}

.card-rock {
  background: linear-gradient(to bottom, #cabd80, #333333);
  .card-info {
    background: #cabd80;
  }
}

.card-steel {
  background: linear-gradient(to top, #9eb7b8, #edf1f4);
  .card-info {
    background: #9eb7b8;
  }
}

.card-water {
  background: linear-gradient(to bottom, #74ebd5, #4592c4);
  .card-info {
    background-color: #4592c4;
  }
}
